<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="usersettings_test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <usersettings_test.Properties.Settings>
            <setting name="USR_SET" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>SMS Notifications Enabled,10000000,1,TRUE</string>
                        <string>Push Notifications Enabled,01000000,2,TRUE</string>
                        <string>Bio-metrics Enabled,00100000,3,TRUE</string>
                        <string>Camera Enabled,00010000,4.TRUE</string>
                        <string>Location Enabled,00001000,5,TRUE</string>
                        <string>NFC Enabled,00000100,6,TRUE</string>
                        <string>Vouchers Enabled,00000010,7,TRUE</string>
                        <string>Loyalty Enabled,00000001,8,TRUE</string>
                        <string>Vouchers Enabled,00000000,0,FALSE</string>
                        <string>Camera Enabled,11111111,4,TRUE</string>
                        <string>TEST,01111111,4,FALSE</string>
                        <string>TEST2,01011111,4,FALSE</string>
                        <string>TEST3,01001111,4,FALSE</string>
                    </ArrayOfString>
                </value>
            </setting>
        </usersettings_test.Properties.Settings>
    </userSettings>
</configuration>